<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
                template="/resources/template/pagesTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">Pagos</ui:define>
    <ui:define name="content">
        <h:form id="reserva">
            <p:panelGrid id="panelgridReserva" columns="2">
                <p:outputLabel value="Reserva"/>
                <p:inputNumber value="" decimalPlaces="0" />
            </p:panelGrid>
        </h:form>
        <h:form id="boletos">
            <p:repeat value="" var="car">
                <h:panelGrid columns="1" style="width:100%" columnClasses="logo,detail">

                    <p:outputPanel>
                        <h:panelGrid columns="2" cellpadding="5">
                            <h:outputText value="Id Boleto:" />
                            <h:outputText value="45464" style="font-weight: bold"/>

                            <h:outputText value="Pelicula" />
                            <h:outputText value="Frozen" style="font-weight: bold"/>

                            <h:outputText value="Fila" />
                            <h:outputText value="1" style="font-weight: bold"/>
                            
                            <h:outputText value="Columna" />
                            <h:outputText value="1" style="font-weight: bold"/>
                        </h:panelGrid>
                    </p:outputPanel>
                </h:panelGrid>
                <hr />
            </p:repeat>
        </h:form>
        
        <h:form>     
            <p:growl id="message" showDetail="true" />
            <p:commandButton value="Confirmar boletos" action="#{dialogView.destroyWorld}" update="message">
                <p:confirm header="Confirmacion de boletos" message="Esta seguro?" icon="pi pi-exclamation-triangle" />
            </p:commandButton>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
            </p:confirmDialog>      
        </h:form>

        <h:form id="pagos">
            <p:dataGrid value="#{sucursalBean.peliculaList}" var="pl" columns="3" layout="grid"
                            rows="12" paginator="true" paginatorPosition="bottom" style="width: 500px;align-self: center" id="cars"
                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                            rowsPerPageTemplate="6,12,16" >

                    <f:facet name="header">
                       <p:panelGrid id="panelgridTipo" columns="3">
                <p:outputLabel value="Tipo de Pago: "/>
                <p:selectOneMenu id="TipoPago" value="#{pagosBean.selectTipo}" converter="entidadConverter">
                    <f:selectItem itemLabel="Seleccione tipo pago" itemValue="#{null}"/>
                    <f:selectItems value="#{pagosBean.tipoPagosList}" var="tp" itemValue="#{tp}" itemLabel="#{tp.tipoPago}"/>
                </p:selectOneMenu>
                       </p:panelGrid>
             Formas de pago
                    </f:facet>

                </p:dataGrid>
        </h:form>
        
        <h:form>     
            <p:growl id="message" showDetail="true" />
            <p:commandButton value="Confirmar pago" action="#{dialogView.destroyWorld}" update="message">
                <p:confirm header="Confirmacion de pago" message="Esta seguro?" icon="pi pi-exclamation-triangle" />
            </p:commandButton>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
            </p:confirmDialog>      
        </h:form>
    </ui:define>
</ui:composition>

