<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
                template="/resources/template/pagesTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">Reservas</ui:define>
    <ui:define name="content">
        <h:form id="sucursales">
            <p:panelGrid id="panelgridSucursal" columns="3" styleClass="companyHeaderGrid">
                <p:outputLabel value="Sucursal: "/>
                <p:selectOneMenu id="Sucursales" value="#{sucursalBean.selectedSucursal}" converter="entidadConverter">
                    <f:selectItem itemLabel="Seleccione una sucursal" itemValue="#{null}"/>
                    <f:selectItems value="#{sucursalBean.sucursales}" var="sl" itemValue="#{sl}" itemLabel="#{sl.nombre}"/>
                </p:selectOneMenu>
                <p:commandButton value="Aceptar" actionListener="#{sucursalBean.onSucursalSelect}" update=":funciones"/>
            </p:panelGrid>
        </h:form>

        <h:form id="funciones">
            <center>
                <p:dataGrid value="#{sucursalBean.peliculaList}" var="pl" columns="3" layout="grid"
                            rows="12" paginator="true" paginatorPosition="bottom" style="width: 1300px;align-self: center" id="cars"
                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                            rowsPerPageTemplate="6,12,16" rendered="#{sucursalBean.selectedSucursal!=null}">

                    <f:facet name="header">
                        Peliculas
                    </f:facet>

                    <p:panel header="#{pl.titulo}" style="text-align:center">
                        <center>
                            <p:panelGrid columns="2">
                                <p:outputLabel value="Director: "/>
                                <h:outputText value="#{pl.idDirector.nombre} #{pl.idDirector.apellido}"/>
                                <p:outputLabel value="Clasificacion: "/>
                                <h:outputText value="#{pl.idClasificacion.clasificacion}"/>
                                <p:outputLabel value="Duracion: "/>
                                <h:outputText value="#{pl.duracion}"/>
                            </p:panelGrid>
                            <br></br>
                            <p:commandLink update=" :funciones" oncomplete="PF('funDialog').show()" title="View Detail" actionListener="#{sucursalBean.onPeliculaSelect(pl.idPelicula)}">
                                <h:outputText value="Funciones" style="margin:0 auto;"/>
                            </p:commandLink>
                        </center>
                    </p:panel>
                </p:dataGrid>
                
                <p:dialog header="Funciones" widgetVar="funDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="300px">
                            <p:outputPanel id="carDetail" style="text-align:center;">
                                
                                <p:dataTable value="#{sucursalBean.funcionList}" var="f">
                                    <p:column headerText="HORA">#{f.fecha}</p:column>
                                </p:dataTable>
                            </p:outputPanel>
                        </p:dialog>
            </center>
        </h:form>
        
        <p:panelGrid id="asiento" rendered="#{sucursalBean.selectedSucursal!=null}">
            <table cellpadding="5">
                        <thead>
                            <tr>
                                <th>Filas</th>
                                <th align="center" colspan="100">Asientos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ui:repeat value="#{reservaFrmBean.asientos}" var="fi" varStatus="filas">
                                <tr>
                                    <td>No.#{fi.row}</td>
                                    <ui:repeat value="#{fi.cols}" var="c">
                                        <td>
                                            <p:commandButton value="#{c.idAsiento}" disabled="#{c.estado==false}" rendered="#{c.selected==false}" action="#{reservaFrmBean.selecionarDeseleccionarAsiento(fi.row, c.col)}" update="asiento"/>
                                            <p:commandButton value="#{c.idAsiento}" disabled="#{c.estado==false}" rendered="#{c.selected==true}" class="ui-button-selected" action="#{reservaFrmBean.selecionarDeseleccionarAsiento(fi.row, c.col)}" update="asiento"/>
                                        </td>
                                    </ui:repeat>
                                </tr>
                            </ui:repeat>
                        </tbody>
                    </table>
        </p:panelGrid>


    </ui:define>
</ui:composition>

