<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
                template="/resources/template/pagesTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">               
    <ui:define name="title">Inicio</ui:define>
    <ui:define name="content">
        <center>
            <h1>CINE</h1>
            <h:graphicImage url="./resources/images/cine.png" id="indexImage"/>
        </center>
       
    </ui:define>
</ui:composition>    

