<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">Plantilla vacia</ui:insert></title>
        <link rel="shortcut icon" href="https://icon-library.net/images/film-icon-vector/film-icon-vector-23.jpg" type="image/jpg"></link>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
        <h:panelGrid class="menu">
            <h:form id="menuBar">
                <p:menubar autoDisplay="false" >
                    <p:menuitem value="Inicio" icon="ui-icon-home" outcome="/index.xhtml"/>
                    <p:submenu label="Menu" icon="ui-icon-note">
                        <p:menuitem value="Reserva" outcome="/paginas/Reserva.jsf"/> 
                        <p:menuitem value="Pago" outcome="/paginas/Pago.jsf"/> 
                    </p:submenu>
                    <p:submenu label="Integrantes" icon="ui-icon-note">
                        <p:menuitem value="José Carlos Ramirez Peralta RP18010"/>
                        <p:menuitem value="Luis Mario Ramirez Peralta RP18011"/>
                        <p:menuitem value="Vladimir Enrique Martínez Flores MF18030"/>
                        <p:menuitem value="Carlos Manuel Mendez Medina MM18018"/>
                        <p:menuitem value="Melvin Ernesto Portillo Merlos PM18008"/>    
                    </p:submenu>
                </p:menubar>
                <br></br>             
            </h:form>
        </h:panelGrid>
        <ui:insert name="content"></ui:insert>
        <h:panelGrid class="creditos">
            <p:outputLabel>Universidad De El Salvador, Copyright © 2019 All rights reserved.</p:outputLabel>
        </h:panelGrid>
    </h:body>

</html>
